<div class="container">
	<div id="branding">
		<a href="/"> <img  class="img img-thumbnail" src="assets/flag.png"/></a>
	</div>
	<div class="post-board" id="comment_form">
	  <%= form_for :message, class:'form-control', url: freedomwall_index_path do |f| %>
	  
	<div id="comment_box" class="form-group">
	    <%= f.text_area :message , id: 'message', class:'form-control', placeholder:"Tell us what is on your mind."%>
	</div>
	  <div id="comment_save" style="display: inline;">
	    <%= f.text_field :username, id:'username', class:'form-control', placeholder:"Let the world know who you are." %>
	    <%= f.submit 'Post Message', id:'post_comment' %>
	  </div>
	  <div class="clearfix"></div>
	  <% end %>		
	</div>
	<hr />
	<div id="message-board">
		<h3>Posts</h3>
		<%= form_for :search, url: freedomwall_index_path do |f|%>
	  	<div id="comment_search" >
	     		<%= f.text_field :keyword %>
	     		<%= f.submit 'Search Messages'%>
	  	</div>
	  	<% end %>
		<div class="apple_pagination pull-right">
		    <div class="page_info">
		    </div>
		    <%= will_paginate @messages, :container => false %>
		</div>
		<div class="clearfix"></div>  
		<% @messages.each do |message|%>
		<div class="post">
		 	<div class="pull-left">
	  			<span class="username"> <%= message.username%> </span>
	    			<p class="comment"><%= message.message%></p>
	 		</div>
			<div class="clearfix"></div>
		</div>
		<% end %>
			<!--<div class="pull-right">
				<span>Saturday, March 15, 2015</span>
			</div>-->
	</div>
	<div class="apple_pagination container pull-right">
	    <div class="page_info">
	      
	    </div>
	    <%= will_paginate @messages, :container => false %>
	</div>
	<div class="clearfix"></div>
	<hr/>
	<div class="footer">
		<span>Copyright 2015</span>
	</div>
</div>
